<!DOCTYPE html>
<html ng-app="myApp" ng-controller="timer">

  <head>
    <script data-require="jquery@2.1.4" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link data-require="bootstrap@3.3.1" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link href="/stylesheet.css" type="text/css" rel="stylesheet"/> <!-- Stylesheet -->
    <script data-require="bootstrap@3.3.1" data-semver="3.3.1" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.4.3" data-semver="1.4.3" src="https://code.angularjs.org/1.4.3/angular.js"></script><!-- AngularJS --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.0/buzz.min.js"></script><!-- Buzz Library -->
   
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script> <!-- ////// FIREBASE ///// -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script> <!-- include angularfire -->
     
  </head>
  
  <body>
    <div class="container-fluid">

      
      <div class="row" ng-if="(startTime >= 1000 || breakTime <= 0) && workSesh < 4" id="clockDiv">
        <div class="col-md-4 col-md-offset-5" id="clockWrap">
          <h1 id="clock-time">{{ startTime | date:format}}</h1> <!-- start time with format filter -->
          <div class="btn-group">
            <button id="play-but" class="btn btn-primary btn-xs but-brk" ng-click="startTimer()">Start</button>
            <button id="pause-but" class="btn btn-danger btn-xs but-brk" ng-click="killtimer(startTimer)">End Timer</button>
            <button id="reset-but" class="btn btn-xs but-brk" ng-click="resetTimer()">Reset</button>
          </div><!--end btn group -->
        </div><!-- end col -->
      </div><!-- end row -->

      <div class="row" ng-if="startTime <= 0" id="clockDiv-two">
        <div class="col-md-4 col-md-offset-5">
          <h1 id="clock-time-2">{{ breakTime | date:format}}</h1> <!-- start time with format filter -->
          <div class="btn-group">
            <button id="break-but" class="btn btn-primary btn-xs" ng-click="startBreak()">Start Break</button>
            <button id="pause-break-but" class="btn btn-xs" ng-click="resetBreak()">Reset Break</button>
          </div><!-- end btn-group -->
        </div>
      </div>
      
      <div class="row" ng-show="workSesh === 4" id="clockDiv-three">
        <div class="col-md-4 col-md-offset-5">
          <h1 id="clock-time-3">{{ thrtyBrk | date:format}}</h1> <!-- start time with format filter -->
            <div class="btn-group">
              <button id="thirty-brk-but" class="btn btn-primary btn-xs" ng-click="startThirtyMinTimer()">30 min Break</button>
              <button id="thirty-reset-but" class="btn btn-xs">Reset 30 min</button>
            </div> <!-- end btn-group -->
        </div>
      </div>
    </div>
    
    <ng-include src="'app/templates/side_tasklist.html'" ng-controller="finishedTasks"class="pull-left"></ng-include>  
  </body>
  <script src="/app/js/Module/myApp.js"></script> <!-- /////// ANGULAR APP MODULE /////// -->
  
</html>