#clock-time{ margin-left:115px;} /* clock time digits */
#clock-time-2{ margin-left:65px;} /* clock break time digits */
#clock-time-3{ margin-left:65px;} /* clock 30min break time digits */

input.ng-invalid{border:1px solid red;}

.ng-show{color:red;}
    
span{font-weight:800;}

#taskInput{background-color:#DEDEDE; width:244px; margin-left:.5px; padding-left:10px; padding-top:50px;height:1080px;}

.list-group{width:210px;}

div button{min-width:105px;} /* button placement */

    
.btn-group{padding-top:12px; padding-bottom:12px;}

.pull-left {
  top:-10px;
  float:left !important;
  margin-top:-110px;
  position:relative;
}



@media screen and (max-width:1058px){ 

  #clockDiv{float:right;}
  #clockDiv-two{float:right;}
  #clock-time-2{ margin-left:95px;}
  #clockDiv-three{float:right;}
  .pull-left{top:-60px;}
}

@media screen and (min-width:992px){ 
  
  #clockDiv{float:none;}
  #clockDiv-two{float:none;}
  #clockDiv-three{float:none;}
  #reset-but{bottom:22px; left:210px;}
}

@media screen and (max-width:585px){ 
  
  #play-but, #pause-but, #reset-but, #break-but, #pause-break-but, #thirty-brk-but, #thirty-reset-but {
    clear:both; /* clears left float on buttons */
    right:-90px;
  }
  #clockDiv{
    float:right;
  }
  #clockDiv-two{
    float:right;
    margin-left:30px;
  }
  #clockDiv-three{
    float:right;
  }
  
  .pull-left{top:-80px;}

  #thirty-reset-but , #thirty-brk-but{ margin-right:95px;}
  #clock-time-3{ margin-left:95px;}
}
@media screen and (min-width:1029px){ 
  #reset-but{bottom:0px; left:0px;}
}
